@font-face {
    font-family: 'ProximaNovaBlack';
    src: url(fonts/proximaNova/Proxima\ Nova\ Alt\ Condensed\ Black.otf);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #252525;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #143D60;
    padding: 10px 20px;
}

.logo_title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* Faz com que esse bloco ocupe o espaço disponível */
    text-align: center;
}

.header img {
    height: 80px;
    margin-right: 10px;
}

.header header {
    font-family: 'ProximaNovaBlack', sans-serif;
    font-size: 3rem;
    font-weight: 1000;
}

.links {
    margin-left: auto; /* Move os links para a direita */
    display: flex;
    gap: 20px; /* Espaço entre os links */
}

.links a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

/* content */
.content {
    flex: 1;
    background-color: #2f2f2f;
    width: 50%; /* Ajustado para não ocupar 100% */
    margin: 30px auto;
    border-radius: 15px;
    padding: 50px 60px;
}

/* centralizando a foto */
#myPhoto {
    display: block;
    margin: 0 auto;
}

.photo-container {
    display: flex;
    justify-content: center;
}

/* formatando os titulos */
.content h1, h2 {
    font-family: 'ProximaNovaBlack', sans-serif;
}

.content h1 {
    text-align: center;
    font-size: 3rem;
}

.content p, h2 {
    text-align: justify;
    padding: 0px 70px 0px 70px;
    
}

.content p {
    font-size: 20px;
}

.content h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

/* formatando os links de contato */
.links_contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px; /* deixando um espaco entre os icones */
    margin-top: 10px; /* separando um pouco da imagem */
}

/* rodape */
.footer {
    background-color: #143D60;
    text-align: center;
    padding: 25px 0px 15px;
    width: 100%;
}

.footer span {
    opacity: 0.7;
}