@font-face {
    font-family: 'KeepCalm';
    src: url(fonts/KeepCalm-Medium.ttf);
}
body {
    background-color: #131313;
    font-family: 'KeepCalm', sans-serif;
    font-size: 2rem;
    color: white;
}

.apresentacao {
    background-color: rgb(34, 41, 129);
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}