@font-face {
    font-family: 'KeepCalm';
    src: url(fonts/KeepCalm-Medium.ttf);
}

/* Main page */
body {
    background-color: #131313;
    font-family: 'KeepCalm', sans-serif;
    font-size: 2rem;
    color: white;
}

.apresentacao {
    background-color: rgb(34, 41, 129);
    font-size: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.links button {
    background-color: blueviolet; 
    margin-top: 25px;
    font-family: 'KeepCalm', sans-serif;
    font-size: 3rem;
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.rodape footer {
    background-color: #050100;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    padding: 25px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;   
}

#nomeDev {
    opacity: 0.7;
}
